*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:Georgia;
}



.head li, a, button {
    
    font-weight: 500;
    font-size: 16px;    
    text-decoration: none;    
}

.head {
    position:relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
    background-color: #000814;
    height: 75px;
    z-index: 9;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

.slantbg {
    position:relative;
    height: 50px;
    background-color: #001D3D;
    z-index: -1;
}



.navlink {
    list-style:none;
    justify-content:flex-end;
    font-family:Georgia;
}

.navlink li {
    display:inline-block;
    padding: 0px 20px;
    
}

.navlink li a {
    transition: all 0.3s ease 0s;
    color:#FFC300;
}

.navlink li a:hover {
    color: #003566;
}

.contact { 
    padding: 9px 25px;
    background-color: #FFC300;
    border:none;
    border-radius:50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

.contact:hover {
    background-color: #003566;
}

.logo {
    
    cursor: pointer;
    margin-right:auto;
}

.feedCard {
    display:flex;
    justify-content: space-around;
    padding: 5px;
    width:100%;        
}

.feedPaper {
    background-color: #003566;
}

.feedList {
    display:flex;
    flex-direction: column;
    float:left;
    width:10%;
    background: #001D3D;
    height: 1100px;
    margin-top: 5px;
}

.feedTitle {
    font-weight: bold;
    color:#FFC300;
    font-family:Georgia;      
}

.innertube {
    float:left;
    width: 15%;
    background: #001D3D;
    color:#FFC300;
    margin-top:5px;
    margin-left:5px;
    height: 1100px;
}

.articleView {
    width:74%;
    height: 1100px;
    margin-top:5px;
    margin-left:5px;
}


.foot {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:20px;
    background-color: #000814;
}

.BigDiv {
    background-color: #003566;
}